body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    font-size: 12px;
    line-height: 1.4rem;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body:not(.page) {
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

.page {
    background-color: white;
    border-top: 15px solid yellow;
    padding: 12px;
}

img {
    max-width: 100%;
}
iframe.content {
    border: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    border: 6px ridge;
    width: 729px;
    margin-left: 20px;
    /* If you want the box to be centered, turn this line on instead */
    /* margin: auto; */
    margin-top: 20px;
    box-sizing: border-box;
}

.header {
    border-bottom: 6px ridge;
    height: 160px;
    box-sizing: border-box;
    background-image: url('img/bananner.gif');
    position: relative;
}

.main {
    display: flex;
}

.side {
    border-right: 6px ridge;
    width: 200px;
    padding: 12px;
    box-sizing: border-box;
    background: #172872;
    color: white;
    min-height: 760px;
}

.content {
    flex-grow: 1;
    background: #FFF;
}

.button {
    display: block;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 17px;
    background-image: url('img/button.png');
    border-radius: 5px;
    color: #FFF;
    text-decoration: none;
    text-shadow: 0 0 3px #FFF;
    letter-spacing: 1px;
    font-family: serif;
}

.button:hover {
    background-image: url('img/button2.png');
}

.title {
    padding-top: 20px;
    padding-left: 20px;
}

h1 {
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    color: red;
}

h2 {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    color: red;
}

h2:before {
    content: "\0021B3";
    color: blue;
    padding-right: 6px;
}

a {
    color: blue;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 6px 12px;
    vertical-align: top;
    border: 1px solid #000;
}

th {
    background: cyan;
    color: #ff0097;
}

.width-50 {
    width: 50%;
}

* {
    scrollbar-width: thin; 
}

::-webkit-scrollbar {
    width: 10px;
}